body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.payment-method {
    flex: 1;
    margin-right: 20px;
}



h2, h3 {
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.radio-option {
    margin-bottom: 20px;
}

.radio-option input[type="radio"] {
    margin-right: 10px;
}

button {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e65c00;
}

.summary p {
    margin: 10px 0;
    font-size: 14px;
}

.summary p span {
    float: right;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    .payment-method {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .summary {
        flex: 1;
    }
}
